body {
    padding-top: 70px;
}

hr {
    margin-bottom: 0;
}

.thumbnail img {
    height: 150px;
}

.shop-item-info {
    display: inline-block;
    width: 60%;
}

.add-cart-button {
    display: inline-block;
    width: 40%;
}

.buy-button {
    margin-top: 23px;
}

.delete-item-button {
    text-align: center;
}
